<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>
<body>
    <section class="nav">
        <nav>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">facebook</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">



                    </ul>

                    <form class="form-inline my-2 my-lg-0">
                        <label for="" class="firstlabel">Email or Phone</label>
                        <input class="form-control mr-sm-2 searchbox1" type="search" aria-label="Search">
                        <label for="" class="secondlabel">Password</label>
                        <input class="form-control mr-sm-2 searchbox2" type="password" aria-label="Search">
                        <button class="formbutton" type="submit">Log In</button>
                        <label class="suggestion" for="">Forgot account?</label>

                    </form>

                </div>
            </nav>
        </nav>

    </section>
</body>
</html>